i.fa.fa-sort-amount-asc,
i.fa.fa-sort-amount-desc {
  cursor: pointer;
}
i.opacity20 {
  opacity: 0.2;
}

.title {
  margin: 0;
  margin-bottom: 0.5em;
}

.table {
  text-align: center;
  border-spacing: 0;
}

th,
td {
  border: 1px solid black;
  line-height: 24px;
  font-size: 1em;
  padding: 0.5em;
}
